{% extends '::base.html.twig' %}

{% block menuitems %}
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('phones_front_end.homepage') }}">Pagrindinis</a></li>
            <li class="active"><a href="{{ path('phones_front_end.phones') }}">Telefonai</a></li>
            <li><a href="{{ path('phones_front_end.best_phone') }}">Paieška</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Telefonai</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% for phone in products %}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="{{ phone.getImage() }}" alt="">
                        </div>
                        <h2><a href="#">{{ phone.getPhoneId() }}</a></h2>

                        <div class="product-carousel-price">
                        {% if (phone.costs) %}
                            {% for cost in phone.costs %}
                                <a href="{{ cost.deeplink }}"><ins style="color: limegreen">€{{ cost.cost }}</ins></a>&nbsp
                            {% endfor %}
                        {% endif %}
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="#">Peržiūrėti</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

