{% extends '::base.html.twig' %}

{% block menuitems %}
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('phones_front_end.homepage') }}">Pagrindinis</a></li>
            <li class="active"><a href="{{ path('phones_front_end.phones') }}">Telefonai</a></li>
            <li><a href="{{ path('phones_front_end.best_phone') }}">Paieška</a></li>
        </ul>
        {% block searchbox %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Telefonai</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% set phoneNr = 0 %}
                {% for phone in products %}
                <div class="col-md-3 col-sm-6" {% if (phoneNr==4) %}{% set phoneNr = 0 %}style="clear: both"{% endif %}>
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <a href="{{ path('phones_front_end.single_phone') ~ '/' ~ phone.getPhoneId() }}"><img src="{{ phone.getImage() }}" alt=""></a>
                            {#<a href="{{ path('phones_front_end.single_phone') ~ '/' ~ phone.getPhoneId()|replace({' ':'-'}) }}"><img src="{{ phone.getImage() }}" alt=""></a>#}
                        </div>
                        <h2><a href="{{ path('phones_front_end.single_phone') ~ '/' ~ phone.getPhoneId() }}">{{ phone.getPhoneId() }}</a></h2>

                        <div class="product-carousel-price">
                        {% set i = 0 %}
                        {% if (phone.costs) %}
                            {% for cost in phone.costs %}
                                <a href="{{ cost.deeplink }}"><ins style="color: limegreen">€{{ cost.cost }}</ins></a>&nbsp
                                {% set i = i+1 %}
                            {% endfor %}
                        {% endif %}

                        {% if (i == 0) %}
                            <ins style="color: darkred">Kainos duomenų nerasta</ins>
                        {% endif %}
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="{{ path('phones_front_end.single_phone') ~ '/' ~ phone.getPhoneId() }}">Peržiūrėti</a>
                        </div>

                        <span class="product-rating" title="Bendras balas">89</span>
                    </div>
                </div>
                    {% set phoneNr = phoneNr+1 %}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a {% if (currentPage==1) %}class="disabled-link" href="#"{% else %}href="{{ path('phones_front_end.phones') ~ '/' ~ (currentPage - 1) }}"{% endif %} aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% for page in dynamicPages %}
                                <li><a class="{% if (page==currentPage) %}disabled-link{% endif %}" href="{{ path('phones_front_end.phones') ~ '/' ~ page }}">{{ page }}</a></li>
                                {% endfor %}

                                <li>
                                    <a {% if ((currentPage + 1)<=totalPageCount) %}href="{{ path('phones_front_end.phones') ~ '/' ~ (currentPage + 1) }}"{% else %}class="disabled-link" href="#"{% endif %} aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

