{% extends '::base.html.twig' %}

{% block menuitems %}
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('phones_front_end.homepage') }}">Pagrindinis</a></li>
            <li><a href="{{ path('phones_front_end.phones') }}">Telefonai</a></li>
            <li class="active"><a href="{{ path('phones_front_end.best_phone') }}">Paieška</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Rezultatai</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% for key, phone in products %}
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="{{ phone.getImage() }}" alt="">
                            </div>
                            <h2><p style="color:red">{{ key+1 }}.&nbsp</p><a href="#">{{ phone.getPhoneId() }}</a></h2>

                            <div class="product-carousel-price">
                                {% set lowestCost = null %}
                                {% if (phone.costs) %}
                                    <p>
                                        {% for cost in phone.costs %}
                                            {% if (lowestCost == null or (lowestCost != null and cost.cost < lowestCost.cost)) %}
                                                {% set lowestCost = cost %}
                                            {% endif %}
                                        {% endfor %}
                                        <a style="color:red" href="{{ lowestCost.deeplink }}"><ins style="color: limegreen">€{{ lowestCost.cost }}</ins></a>&nbsp

                                        {% for cost in phone.costs if lowestCost != cost %}
                                            <a href="{{ cost.deeplink }}"><ins style="color: limegreen">€{{ cost.cost }}</ins></a>&nbsp
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            </div>

                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="#" style="color: darkred"><b>Points: {{ attribute(points, key) }}</b></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
